@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Estas autenticado y autorizado, @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado. Sos anónimo</p>
    </NotAuthorized>

</AuthorizeView>



<h1>Mutual MyPJ HP</h1>

Bienvenido/a!!!


                            