@page "/especialidades"

@inject IRepository repository

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="bi bi-heart-pulse-fill"></i> Especialidades

                        <a class="btn btn-sm btn-outline-primary float-end" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-square"></i> Nueva Especialidad</a>
                    </span>
                </div>
                <div class="card-body">

                    <Filter PlaceHolder="Buscar Especialidad..." Callback=@FilterCallBack />

                    <Pagination CurrentPage="currentPage"
                                TotalPages="totalPages"
                                SelectedPage="SelectedPageAsync"
                                RecordsNumber="SelectedRecordsNumberAsync" />

                    <GenericList MyList="Especialidades">
                        <Body>
                            <table class="table table-sm table-info table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Especialidad</th>
                                        <th style="width:160px"></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var especialidad in Especialidades!)
                                    {
                                        <tr>
                                            <td>@especialidad.Id</td>
                                            <td>@especialidad.Nombre</td>
                                            <td>
                                                <a @onclick=@(() => ShowModalAsync(especialidad.Id, true)) class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Editar</a>
                                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(especialidad))><i class="bi bi-trash" /> Borrar</button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </Body>
                    </GenericList>
                </div>
            </div>
        </div>
    </div>
</div>


