@page "/tiposclientes"

@inject IRepository repository

<h3>Tipos de Clientes</h3>

<div class="mb-3">
    <a class="btn btn-sm btn-sm btn-outline-primary" href="/tiposclientes/create">Nuevo Tipo de Cliente</a>
</div>

<div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
    <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar Tipo de Cliente..." @bind-value="Filter" />
    <button type="button" class="btn btn-sm btn-outline-primary mx-1" @onclick="ApplyFilterAsync">Filtrar</button>
    <button type="button" class="btn btn-sm btn-outline-danger" @onclick="CleanFilterAsync">Limpiar</button>
</div>

<Pagination CurrentPage="currentPage"
            TotalPages="totalPages"
            SelectedPage="SelectedPageAsync" />


<GenericList MyList="TiposClientes">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tipo de Cliente</th>
                    <th>Cliente Inae</th>
                    <th style="width:210px">Clientes</th>
                    <th style="width:210px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tipoCliente in TiposClientes!)
                {
                    <tr>
                        <td>@tipoCliente.Id</td>
                        <td>@tipoCliente.DescripcionTipoCliente</td>
                        <td>@tipoCliente.ClienteInae</td>
                        <td>@tipoCliente.ClientesNumber</td>
                        <td>
                            <a href="/tiposclientes/edit/@tipoCliente.Id" class="btn btn-sm btn-warning">Editar</a>
                            <a class="btn btn-sm btn-info btn-sm" href="/tiposclientes/details/@tipoCliente.Id">Detalles</a>
                            <button class="btn btn-sm btn-danger" @onclick=@(() => DeleteAsync(tipoCliente))>Borrar</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </Body>
</GenericList>