<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Tipo de Cliente:</label>
        <div>
            <InputText class="form-control" @bind-Value="@TipoCliente.DescripcionTipoCliente" />
            <ValidationMessage For="@(() => TipoCliente.DescripcionTipoCliente)" />
        </div>
        <label>Cliente Inae:</label>
        <div>
            <InputRadioGroup @bind-Value="TipoCliente.ClienteInae">
                @foreach (var option in rdOptions)
                {
                    <InputRadio class="m-2" Value="option" /> @option
                }
            </InputRadioGroup>
            <br />
            <ValidationMessage For="@(() => TipoCliente.ClienteInae)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>
</EditForm>
