@page "/tiposclientes"

@inject IRepository repository

<h3>Tipos de Clientes</h3>

<div class="mb-3">
    <a class="btn btn-sm btn-outline-primary" href="/tiposclientes/create">Nuevo Tipo de Cliente</a>
</div>

<GenericList MyList="TiposClientes">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Especialidad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tipoCliente in TiposClientes!)
                {
                    <tr>
                        <td>@tipoCliente.Id</td>
                        <td>@tipoCliente.DescripcionTipoCliente</td>
                        <td>@tipoCliente.ClienteInae</td>
                        <td>
                            <a href="/tiposclientes/edit/@tipoCliente.Id" class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(tipoCliente))>Borrar</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </Body>
</GenericList>