@page "/tiposclientes"

@inject IRepository repository

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="bi bi-tag-fill"></i> Tipos de Clientes

                        <a class="btn btn-sm btn-outline-primary float-end" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-square"></i> Nuevo Tipo de Cliente</a>
                    </span>
                </div>
                <div class="card-body">


                    <Filter PlaceHolder="Buscar Tipo de Cliente..." Callback=@FilterCallBack />

                    <Pagination CurrentPage="currentPage"
                                TotalPages="totalPages"
                                SelectedPage="SelectedPageAsync"
                                RecordsNumber="SelectedRecordsNumberAsync" />
                    <p class="float-end">Total Registros: @totalRegisters</p>

                    <GenericList MyList="TiposClientes" IsLoading="IsLoading">
                        <Body>
                            <table class="table table-sm table-info table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Tipo de Cliente</th>
                                        <th>Cliente Inae</th>
                                        <th style="width:160px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var tipoCliente in TiposClientes!)
                                    {
                                        <tr>
                                            <td>@tipoCliente.Id</td>
                                            <td>@tipoCliente.DescripcionTipoCliente</td>
                                            <td>@tipoCliente.ClienteInae</td>
                                            <td>
                                                <a @onclick=@(() => ShowModalAsync(tipoCliente.Id, true)) class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Editar</a>
                                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(tipoCliente))><i class="bi bi-trash" /> Borrar</button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </Body>
                    </GenericList>
                </div>
            </div>
        </div>
    </div>
</div>

