@page "/api/accounts/ConfirmEmail"

<div class="row">
    <div class="col-4 offset-4">
        <div class="card">
            <div class="card-header">
                <span>
                    <i class="bi bi-person" /> Confirmación de email
                </span>
            </div>
            <div class="card-body">
                <p>Presione el botón para confirmar su cuenta</p>
                <button class="btn btn-sm btn-outline-primary" @onclick="ConfirmAccountAsync"><i class="bi bi-check-circle-fill"></i> Confirmar Cuenta</button>
            </div>
        </div>
    </div>
</div>

