@page "/editmyuser"

@if (user is null)
{
    <Loading />
}
else
{
    <EditForm Model="user" OnValidSubmit="SaveUserAsync">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-4 offset-4">
                <div class="card">
                    <div class="card-header">
                        <span>
                            <i class="bi bi-person-circle" /> Mi Cuenta
                            <a class="btn btn-sm btn-outline-secondary float-end" @onclick=@(() => ShowModal()) ><i class="bi bi-key" /> Cambiar Contraseña</a>
                        </span>
                    </div>
                    <div class="card-body">

                        <div class="mb-3">
                            <label>Nombres:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@user.FirstName" />
                                <ValidationMessage For="@(() => user.FirstName)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Apellidos:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@user.LastName" />
                                <ValidationMessage For="@(() => user.LastName)" />
                            </div>
                        </div>
                       
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-outline-success float-start" @onclick=@(() => Return())><i class="bi bi-arrow-left" /> Regresar</button>
                        <button class="btn btn-sm btn-outline-primary float-end mx-2" type="submit"><i class="bi bi-person-add" /> Guardar Cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}



