@page "/Login"

<EditForm Model="loginDTO" OnValidSubmit="LoginAsync">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="row">
            <div class="col-4 offset-4">
                <div class="card">
                    <div class="card-header">
                        <span>
                            <i class="bi bi-door-open-fill"></i> Iniciar Sesión
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label>Email:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@loginDTO.Email" />
                                <ValidationMessage For="@(() => loginDTO.Email)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Contraseña:</label>
                            <div>
                                <InputText type="password" class="form-control" @bind-Value="@loginDTO.Password" />
                                <ValidationMessage For="@(() => loginDTO.Password)" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div>
                            <a class="bbtn btn-link" href="/ResendToken">Reenviar correo de activación de cuenta</a>
                            <button class="btn btn-sm btn-outline-primary float-end mx-2" type="submit">
                                <i class="bi bi-door-open-fill"></i>
                                Iniciar Sesión
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>
